@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

:root {
    --gold: #ffbf00;
    --black: #171717;
}

*, *::before, *::after {
    box-sizing: border-box;

}
body {
    font-family: 'Fira Code', monospace;
    background-color: var(--black);
    color: white;
    margin: 0;
}

hr {
    border: 1px solid var(--gold);
}

.navigation {
    /* background-color: white; */
    /* position: fixed;
    top: 0; */
    padding: 30px 50px;
    display: flex;
    align-items: center;
    /* width: 100vw; */
    justify-content: space-between;
    letter-spacing: 4px;
    color: var(--gold);
    border-bottom: 5px solid var(--gold);
}

.logo a {
    font-size: 21px;
    letter-spacing: 7px;
    cursor: pointer;
    text-decoration: none;
    color: var(--gold);
}

.navigationMenu {
    display: flex;
    font-size: 16px;
    list-style: none;
}

.navigationMenuItem {
    margin-left: 5  0px;
    cursor: pointer;
}

.navigationMenuItem a{
    margin-left: 50px;
    cursor: pointer;
    text-decoration: none;
    color: var(--gold);
}


.infoMenu {
    display: flex;
    list-style: none;
    padding: 0;
}

.menuButton {
    font-size: 12px;
    font-family: 'Fira Code', monospace;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid white;
    color: var(--gold);
    cursor: pointer;
}

.menuItem:not(:last-child) {
    border-right: none;
}
.menuItem {
    border-right: 1px solid white;
}

.menuButtonActive {
    font-size: 12px;
    font-family: 'Fira Code', monospace;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    color: var(--black);
    background-color: white;
    cursor: pointer;
}

.info {
    max-width: 700px;
    margin: 150px 50px 0px 50px;
}

.infoTitle {
    font-size: 48px;
    color: var(--gold);
}

.infoDescription {
    font-size: 21px;
}

.container {
    padding: 100px 50px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 100px 50px;
}

.item {
    border: 2px solid white;
    display: grid;
    grid-template-rows: 200px 1fr;
    min-height: 500px;
    width: 400px;
}

.itemHeader {
    background-color: white;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemTitle {
    margin: 0;
    color: var(--black);
    font-size: 21px;
}

.itemContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}


.itemButton {
    font-size: 12px;
    font-family: 'Fira Code', monospace;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    color: var(--gold);
}

.itemButton a{
    text-decoration: none;
    color: var(--gold);
}

.topic{
    margin-left:20px;
    width:80%;
    border: 1px solid var(--gold);
}

.topiclist{
    width:80%;
    padding: 10px 50px 50px;
    display: grid;
    grid-gap: 30px;
}

.topicDescription{
    padding: 0px 30px 10px;
}
.topicTitle{
    margin: 0;
    color: white;
    font-size: 15px;
    margin-left:10px;   
}

p.topicButton{
    margin:20px;
    margin-left:80px;
}

button.topicButton {
    font-size: 15px;
    font-family: 'Fira Code', monospace;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    color: var(--gold);
}

@media (max-width: 800px) { 
    .navigationMenu {
        display: none;
    }
}
@media (max-width: 600px) {
    .navigationMenu {
        display: none;
    }

    .logo a{
        font-size: 12px;
        letter-spacing: 3px;
        margin-left: 0px;
    }

    .hamburgerNavigation {
        display: block !important;
    }
    
    .hamburger {
        display: inline-block !important;
    }

    .hamburgerBox {
        display: inline-block !important;
    }

    .item {
        width: 75%;
    }
}
@media (max-width: 400px) {
    .item {
        width: 60%;
        justify-self: flex-start;
    }
}

.