.navigation {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    letter-spacing: 4px;
    color: var(--gold);
    border-bottom: 5px solid var(--gold);
}

.logo a {
    font-size: 21px;
    letter-spacing: 7px;
    cursor: pointer;
    text-decoration: none;
    color: var(--gold);
}

.navigationMenu {
    display: flex;
    font-size: 16px;
    list-style: none;
}

.navigationMenuItem {
    margin-left: 50px;
    cursor: pointer;
}

.navigationMenuItem a{
    margin-left: 50px;
    cursor: pointer;
    text-decoration: none;
    color: var(--gold);
}


@media (max-width: 800px) { 
    .navigationMenu {
        display: none;
    }
    .logo {
        position: absolute;
        left: 10px;
    }
}
@media (max-width: 600px) {
    .navigationMenu {
        display: none;
    }

    .logo a{
        font-size: 12px;
        letter-spacing: 3px;
        margin-left: 0px;
    }

}
